.navbar {
    background-color : #072146
}

.logo {
    color: white !important
}

#name {
    text-transform: capitalize;
}

.carousel-control-prev, .carousel-control-next {
    height: 50%;
    margin-top: 25%;
}